.overflow-auto{
    overflow: auto;
}
.colabs{
    margin: 1rem auto;
    border-collapse: collapse;
}
.colabs caption,
.colabs th,
.colabs td{
    padding: .5rem;
    border: 2px solid #248;
}
.colabs caption{
    border-bottom: none;
}