/* Importacion de estilos */
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto');
@import url('variables.css');
@import url('general.css');
@import url('navigation.css');

/* --------------------------PIE DE PAGINA ----------------- */
footer{
    background-color: #dcd7c9;
}

.social{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
    padding: 2rem;
}

.social a{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #fff;
    background-size: 40px;
    background-position: center;
    background-repeat: no-repeat;
}
.social a:hover{
    background-size: 45px;
    box-shadow: 0 2px 8px #444;
}

.instagram{
    background-image: url('../assets/icons/instagram.png');
}
.facebook{
    background-image: url('../assets/icons/facebook.png');
}
.whatsapp{
    background-image: url('../assets/icons/whatsapp.png');
}
.github{
    background-image: url('../assets/icons/github.png');
}