/* Importacion de estilos */
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto');
@import url('variables.css');
@import url('general.css');
@import url('navigation.css');
@import url('main.css');
@import url('colaborators.css');

/* --------------------------PIE DE PAGINA ----------------- */

    /* Redes Sociales */
    footer{
        background-color: #dcd7c9;
    }

    .social{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
        gap: 1rem;
        padding: 2rem;
    }

    .social a{
        height: 4rem;
        width: 4rem;
        border-radius: 50%;
        background-color: #ddd;
        background-size: 2.5rem;
        background-position: center;
        background-repeat: no-repeat;
        text-decoration: none;
    }
    .social a:hover{
        background-color: #eee;
        background-size: 3rem;
        box-shadow: 0 2px 8px #444;
    }
    .repos a{
        position: relative;
        width: auto;
        height: auto;
        padding: .5rem;
        border-radius: .5rem;
        color: #eee;
        background-color: #333;
    }
    .repos a:hover{
        bottom: .25rem;
        background-color: #666;
    }
    .instagram{
        background-image: url('../assets/icons/instagram.png');
    }
    .facebook{
        background-image: url('../assets/icons/facebook.png');
    }
    .whatsapp{
        background-image: url('../assets/icons/whatsapp.png');
    }
    .github{
        background-image: url('../assets/icons/github.png');
    }

    /* Copyright */

    .copy{
        color: #000;
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 1.5rem;
        text-shadow: 1px 1px 2px #777;
    }

    .copy strong{
        margin-left: .25rem;
        text-transform: uppercase;
    }