*{
    box-sizing: border-box;
    font-family: 'Roboto', 'Poppins', 'Calibri', sans-serif;
}
/* Margenes */
body,
h1,
h2,
h3,
h4,
.menu{
    margin: 0;
}
/* Bordes */

/* Rellenos */

/* Estilos */

/* Anchos */

/* Layout */
body{
    display: grid;
    grid-template-columns: 
        min(30%, 6rem) 
        max(70%, calc(100vw - 6rem));
    grid-template-areas: 
    'nav header'
    'nav main'
    'nav footer';
}
header{
    grid-area: header;
}
nav{
    grid-area: nav;
}
main{
    grid-area: main;
}
footer{
    grid-area: footer;
}